{% load static %}
<link rel="stylesheet" type="text/css" href="{%static 'cms/style.css' %}">
{% load tz %}

<form action="{% url 'cms:login' %}" align="right">
	<button type="submit">Log out</button>
</form>
{% if incident_list %}
	<h1>List of Incident</h1>
	<button onclick="showFilter()">Filter</button>
	<form style="display:none" id="filter" method="GET">
		{{ filter.form }}
		<button type= "submit" class="btn btn-primary">Select</button>
	</form>
	<script>
		function showFilter(){
			var filter = document.getElementById('filter');
			if(filter.style.display === 'none'){
				filter.style.display = 'block';
			}
			else{
				filter.style.display = 'none';
			}
		}
	</script>

	<table>
		<tr>
			<th>Case ID</th>
			<th>Type of Assistance Required</th>
			<th>Level of Security</th>
			<th>Date</th>
			<th>Time</th>
			<th>Location</th>
		</tr>
		{% for incident in filter.qs %}
		<tr>
			<td> <a href="{% url 'cms:case' incident.id %}">{{ incident.id }}</a></td>
			<td>{{ incident.assistance_type }}</td>
			<td>{{ incident.severity }}</td>
			{% timezone "Asia/Singapore" %}
			<td>{{ incident.incident_date|date:"d M Y" }}</td>
			<td>{{ incident.incident_date|date:"H:i:s"}}</td>
			{% endtimezone %}
			<td>{{incident.location}}</td>
		</tr>
		{% endfor %}
	</table>
	</ul>
{% else %}
	<p>No incidents are available.</p>
{% endif %}


<form action="{% url 'cms:create-incident' %}">
	<button type="submit">Submit Case</button>
</form>
