{% include "cms/nav bar.html" %}
<!DOCTYPE html>
<html>
    <head>
        <title>View Emergency Map</title>
        <br></br>
        <h1>Map of Incident</h1>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{%static 'cms/css/map.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

         <style>
            h1{
            text-align: center;  
            font-size: 15px;  
            }
            body{
            text-align: center;
            background: cornsilk;
            font-size: 15px;
            }

            form{
            display: block;
            width: 100%;
            margin: 10px auto;
            }

            #emergency, #fire, #rescue, #gas{
            margin: 10px;
            }
         </style>
    </head>
    <body>


        <div id="map"></div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwnOKdHVcbd77ol8nQu81CPgr3CnjBfMc"></script>
        <script type="text/javascript" src ="{% static 'cms/js/map.js' %}"></script>

            <div>
            <form name="form" onsubmit="return updateBox()">
            <div>
            <input type="radio" id="emergency" value="emergency" name="assistance">
            <label for="emergency">Reported Incident</lable>

            <input type="radio" id="rescue" value="rescue" name="assistance">
            <label for="rescue">Haze</lable>
            </div>
            <div>
            <input type="radio" id="fire" value="fire" name="assistance">
            <label for="fire">Weather</lable>

            <input type="radio" id="gas" value="gas" name="assistance">
            <label for="gas">Dengue</lable>
            </div>
            <div>
            <input type="submit" class="btn btn-outline-primary"/>
            </div>
            </form>
            
            </div>

        <script>

            function updateBox() {

                validateForm();
                filter();

            }
            var type = document.getElementsByName('assistance');
            function validateForm(){
                 var typeSelected = false;
                 var assistancetype;
      
                for (var i = 0; i < type.length; i++){
                    if (type[i].checked == true){
                        typeSelected = true;
                        assistancetype = type[i].value;
                        break;
                     }
                }
                return typeSelected;
            }

            function filter() {
                for (var i = 0; i < type.length; i++){
                    if (type[i].checked == true){
                        break;
                     }
                }

                if(type[i].checked == false){
                    test5();
                }

                if (var i == 0){
                    test1();
                }
                if (var i == 1){
                    test2();
                }

                if (var i == 2){
                    test3();
                }
                
                if (var i == 3){
                    test4();
                }

            }
        </script>

    </body>
</html>