<!DOCTYPE html>
<html>
    <head>
        <title>View Emergency Map</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{%static 'cms/css/map.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>

        <div class="sidebarmap">
            <ul>
              Reported Incidents <input id="incidentCheckbox" type="checkbox" onclick="toggleGroup('incidents')" checked="checked" />
              Weather <input id="weatherCheckbox" type="checkbox" onclick="toggleGroup('weather')" checked="checked" />
              PSI <input id="psiCheckbox" type="checkbox" onclick="toggleGroup('psi')" checked="checked" />
            </ul>
        </div>
        <div id="map"></div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwnOKdHVcbd77ol8nQu81CPgr3CnjBfMc"></script>
        <script type="text/javascript" src ="{% static 'cms/js/map.js' %}"></script>
        <script>
            var psi_north = "{{ psi_north }}";
            var psi_south = "{{ psi_south}}";
            var psi_east = "{{ psi_east }}";
            var psi_west = "{{ psi_west }}";
            var psi_central = "{{ psi_central }}";
            var weather_north =  "{{ weather_north }}";
            var weather_south =  "{{ weather_south }}";
            var weather_east =  "{{ weather_east }}";
            var weather_west =  "{{ weather_west }}";
            var weather_central =  "{{ weather_central }}";
            var locations = {{ data|safe }};
        </script>
    </body>
</html>